*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style: none;
}

body{
    background-color: #1f1e1e;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#container-lista-tarefas{
    margin: 100px 9%;
    padding: 20px;
    
    border-radius: 15px;

    text-align: center;
    background-color: #e7e7e7;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h1{
    text-transform: uppercase;

    margin-left: 10px;
    width: 100%;
}

#add-tarefa{
    margin: 25px 50px 20px 50px;
    padding: 2px 3px;
    border-bottom: 1px solid black;

    display: flex;
    justify-content: flex-end;
    width: 100%;
}

#tarefa{
    padding: 2px 0px 2px 15px;
    width: 100%;

    border: none;
    background-color: unset;

    font-size: 16px;
}

#tarefa:focus{
    border: none;
    outline: none;
}

#adicionar{
    padding: 6px 12px 6px 12px;
    margin-right: 10px;

    outline: none;
    background-color: unset;
    border: unset;
    cursor: pointer;

    font-size: 10px;
}

#adicionar:focus{
    border: none;
    outline: none;
}

#lista{
    margin: 20px auto;
    height: 78%;

    border-radius: 1px 1px 15px 15px;
}

#lista-ul{
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
}

#lista-ul li{
    margin: 20px 5%;

    background-color: #05a79a57;
    border: 1px solid #05a79a36;
    border-bottom: 1px outset #05a79aaf;
    border-radius: 8px;
    padding: 5px 12px;
}

li button{
    margin-left: 8px;
    padding: 5px 12px 5px 12px;
    
    border: 1px outset #0000008a;
    border-radius: 50px;
}