*{
    padding: 0px;
    margin: 0px;
}

a{
    text-decoration: none;
}

body{
    background-color: #1f1e1e;
    color: white;
    /* display: flex; */
}

.card{
    width: 300px;
    height: 350px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    overflow: hidden;
    
    border: 2px solid white;

}

.card img{
    width: 300px;
    height: 170px;
}

