*{
    padding: 0px;
    margin: 0px;
}

a{
    text-decoration: none;
}

body{
    background-color: #1f1e1e;
    color: white;
}

h1{
    margin: 40px;
    padding: 5px 25px;
    text-transform: uppercase;

    border-bottom: 1px solid white;
}

#cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card{
    width: 300px;
    height: 350px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    position: relative;
    overflow: hidden;
    
    border: 4px solid #042e20;
    border-radius: 10px;
    margin-bottom: 50px;
    
    background-color: #042e20;
    color: white;
}

.card img{
    width: 300px;
    height: 180px;
    border-radius: 10px 10px 0px 0px;
}

.card #version{
    position: absolute;
    bottom: 6px;
    right: 9px;
}

footer{
    position: fixed;
    bottom: 7px;
    right: 10px;
}